<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create tweet</title>
</head>
<body>
    <h1>Create tweet</h1>
    <form action="/tweets/create" method="post">
        <input type="text" name="message" placeholder="What's happening?">
        <input type="submit" value="Tweet">
    </form>
</body>
</html>